.main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
}

.oglas{
  position: relative;
  z-index: 1;
  background: rgb(204, 204, 204);;
  max-width: 500px;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
  border-radius: 3em;
}

.oglas button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;

  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 2em;
}
.oglas button:hover,.oglas button:active,.oglas button:focus {
  background: #43A047;
}
