  <a class="list-group-item clearfix" *ngFor="let bioskopi of bioskopi" (click)="onSelected()">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Naziv bioskopa: {{bioskopi.naziv}}</h4>
        <p class="list-group-item-text">Adresa: {{bioskopi.adresa}}</p>
        <p class="list-group-item-text">Opis: {{bioskopi.opis}}</p>
        <p class="list-group-item-text">Repertoar: {{bioskopi.repertoar}}</p>
      </div>
      <span class="pull-right">

        <button class="btn btn-primary" [routerLink]="['../bioskopi/' + bioskopi.id]">Izmeni</button>
        <button class="btn btn-primary" (click)="showOnMap(bioskopi)">Mapa</button>
      </span>
    </a>
