  <div class="row">
    <div class="col-xs-12">
       
        
    <h1 *ngFor="let bioskopi of bioskopi">Naziv bioskopa: {{bioskopi.naziv}}
        <div class="row">
            <div class="col-xs-12" >
              Adresa: {{bioskopi.adresa}}
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                Opis: {{bioskopi.opis}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                Repertoar: {{bioskopi.repertoar}}
              </div>
            </div>
            <button class ="btn btn-primary" routerLink="/bioskop-edit">Uredi bioskop</button>
    </h1>
    </div>
  </div>
