<div>
  <form >
    <select [(ngModel)]="selectedBioskop" name="select">
        <option
          *ngFor="let bioskopiShow of bioskopi"
          [ngValue]="bioskopiShow.id">
          {{bioskopiShow.naziv}}
        </option>
    </select>
    <button [routerLink]="['/rezervacija2/' + selectedBioskop]">Izaberi bioskop</button>
  </form>
  <p>You selected: {{selectedBioskop}}</p>
</div>

<div>
  <form>
    <select [(ngModel)]="selectedPozoriste" name="selectPoz">
      <option *ngFor="let pozoristaShow of pozorista" [ngValue]="pozoristaShow.id">{{pozoristaShow.naziv}}</option>
    </select>
    <button>Izaberi pozoriste</button>
  </form>
  <p>You selected: {{selectedPozoriste}}</p>
</div>
