.fanzonaNav{
  /*width: 700px;
  display: block;*/

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 4em auto;
  grid-gap: 1em;
}

.fanzonaNav div{
  position: relative;
  background: rgb(204, 204, 204);
  padding: 1em;
  border-radius: 3em;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 2em;
}
button:hover, button:active, button:focus {
  background: #43A047;
}
