<div class="nav">
  <ul>
    <li>
        <a routerLink="/karte">Karte</a>
    </li>
    <li>
      <a routerLink='/pozorista'>Pozorišta</a>
    </li>

    <li>
      <a routerLink='/bioskopi'>Bioskopi</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink='/login'>Prijavi se</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a routerLink='/register'>Registruj se</a>
    </li>
    <li>
      <a routerLink='/fanzona'>Fan zona</a>
    </li>
    <li>
      <a routerLink='/sysadmin'>Admin sistema</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink='/rezervacija'>Rezervisi</a>
    </li>
  </ul>
</div>
<div *ngIf="isLoggedIn" class="logoutLblPos">
  <button class="buttonstyle">Zahtevi</button>
  <button class="buttonstyle" (click)="logout()">Izloguj se</button>
  <button class="buttonstyle" routerLink='/user'>Korisnicki nalog</button>
</div>
