<div class="row">
  <div class="col-xs-12">
    <img [src]="oglasToDisplay.imgPath" alt="" class="img-responsive" style="max-height: 250px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Ime oglasa: {{oglasToDisplay.naziv}} </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary" [hidden]="!ponudaFormActive" (click)="togglePonudaForm()">Dodaj ponudu</button>
    </div>
  </div>
</div>
<div class="row" [hidden]="ponudaFormActive">
  <div class="col-xs-12">
    <form #ponudaForm="ngForm" (ngSubmit)="onPonudaSubmit(ponudaForm)">
      <div class="form-group">
        <label for="iznos">Iznos vaše ponude</label>
        <input type="text" id="iznos" class="form-control" name="iznos" required ngModel #iznosPonude="ngModel">
        <span class="help-block" *ngIf="!iznosPonude.valid && iznosPonude.touched">Morate da unesete iznos ponude!</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!ponudaForm.valid">Dodaj ponudu</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{oglasToDisplay.opis}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Traje do: {{oglasToDisplay.datum | date}}
  </div>
</div>
