<a class="list-group-item clearfix" *ngFor="let predstaveShow of predstave">
  <div class="pull-left">
    <h4 class="list-group-item-heading" > Naziv predstave: {{predstaveShow.naziv}}</h4>
    <p class="list-group-item-text">Glumci: {{predstaveShow.glumci}}</p>
    <p class="list-group-item-text">Zanr: {{predstaveShow.zanr}}</p>
    <p class="list-group-item-text">Reditelj: {{predstaveShow.reditelj}}</p>
    <p class="list-group-item-text">Trajanje: {{predstaveShow.trajanje}}</p>
    <p class="list-group-item-text">Poster: {{predstaveShow.poster}}</p>
    <p class="list-group-item-text">Ocena: {{predstaveShow.ocena}}</p>
    <p class="list-group-item-text">Opis: {{predstaveShow.opis}}</p>
    <p class="list-group-item-text">Sala: {{predstaveShow.sala}}</p>
    <p class="list-group-item-text">termin: {{predstaveShow.termin}}</p>
  </div>
  <button class="btn btn-primary" [routerLink]="['/predstave/' + predstaveShow.id]">Uredi predstavu</button> 
  <button class="btn btn-danger" (click)="deletePredstava(predstaveShow)">Obrisi</button>
</a>
<button class="btn btn-primary" routerLink="/predstave-edit">Dodaj predstavu</button> 