<div class="row">
      <div class="col-xs-12">
      <h1 *ngFor="let pozorista of pozorista">Naziv bioskopa: {{pozorista.naziv}}
          <div class="row">
              <div class="col-xs-12" >
                Adresa: {{pozorista.adresa}}
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                  Opis: {{pozorista.opis}}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Repertoar: {{pozorista.repertoar}}
                </div>
              </div>
             
              <button type="button" (click)="updatePozoriste()">Uredi pozoriste</button>
             
      </h1>
      </div>
    </div>
  