<div class="register-page">
  <div class="form">
    <form (ngSubmit)="registruj()" class="register-form" #registerForm="ngForm" >
      <!-- email -->
      <input type="email" placeholder="Email" [(ngModel)]="korisnik.email" name="email" required #email/>

      <!-- password -->
      <input type="password" placeholder="Šifra" required [(ngModel)]="korisnik.password" name="password" #password/>

      <input type="password" placeholder="Ponovite Šifru" required >

      <!-- ime -->
      <input type="text" placeholder="Ime" [(ngModel)]="korisnik.ime" name="ime" required #ime >

      <!-- prezime -->
      <input type="text" placeholder="Prezime" [(ngModel)]="korisnik.prezime" name="prezime" required #prezime>

      <!-- grad -->
      <input type="text" placeholder="Grad" [(ngModel)]="korisnik.grad" name="grad" required #grad>

      <!-- brtel -->
      <input type="text" placeholder="Broj Telefona" [(ngModel)]="korisnik.brtel" name="brtel" required #brtel>

      <!-- submit -->
      <button type="submit" [disabled]="!registerForm.form.valid">Registruj se</button>
    </form>
  </div>
</div>
