<div class="main">
  <div class="mainPonude">

      <div class="ponuda">
          <h2>Naziv oglasa: {{oglas.naziv}}</h2>

          <ul>
            <li *ngFor="let ponuda of ponude">
               Korisnik: {{ponuda.userName}} Iznos: {{ponuda.iznos}}
               <button *ngIf="ponuda.userName == 'Arsenije'" (click)="otvoriPonudaUEditMode(ponuda)">Izmeni</button>
               <button *ngIf="ponuda.userName == 'Arsenije'" (click)="deletePonuda(ponuda)">Obrisi</button>
            </li>
          </ul>
        </div>

      <button (click)="goBack()">Nazad</button>
  </div>

  <div class="editZona" *ngIf="editFlag">
    <app-nova-ponuda [ponudaToEdit]="ponudaToEdit"></app-nova-ponuda>
  </div>


</div>
