<a class="list-group-item clearfix" *ngFor="let pozorista of pozorista">
    <div class="pull-left">
      <h4 class="list-group-item-heading">Naziv pozorista: {{pozorista.naziv}}</h4>
      <p class="list-group-item-text">Adresa: {{pozorista.adresa}}</p>
      <p class="list-group-item-text">Opis: {{pozorista.opis}}</p>
      <p class="list-group-item-text">Repertoar: {{pozorista.repertoar}}</p>
    </div>
    <span class="pull-right">   
      <button class="btn btn-primary" [routerLink]="['../pozorista-edit/' + pozorista.id]">Izmeni</button>
    </span>
  </a>
