<a class="list-group-item clearfix" *ngFor="let pozoristaShow of pozorista">
    <div class="pull-left">
      <h4 class="list-group-item-heading">Naziv pozorista: {{pozoristaShow.naziv}}</h4>
      <p class="list-group-item-text">Adresa: {{pozoristaShow.adresa}}</p>
      <p class="list-group-item-text">Opis: {{pozoristaShow.opis}}</p>
      <p class="list-group-item-text">Repertoar: {{pozoristaShow.repertoar}}</p>
    </div>
    <span class="pull-right">   
      <button class="btn btn-primary" [routerLink]="['/pozorista/' + pozoristaShow.id]">Izmeni</button>
    </span>
  </a>
