<a class="list-group-item clearfix" *ngFor="let karta of karte">
  <div class="pull-left">
    <h4 class="list-group-item-heading" > Projekcija/Predstava: {{karte.projPred}}</h4>
    <p class="list-group-item-text">Datum: {{karte.datum}}</p>
    <p class="list-group-item-text">Vreme: {{karte.vreme}}</p>
    <p class="list-group-item-text">Sala: {{karte.sala}}</p>
    <p class="list-group-item-text">Sediste: {{karte.brSedista}}</p>
    <p class="list-group-item-text">Originalna cena: {{karte.originalnaCena}}</p>
    <p class="list-group-item-text">Cena sa popustom: {{karte.popustCena}}</p>
  </div>
</a>