<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="search">
  <input type="text" placeholder="Ime"/>
  <input type="text" placeholder="Prezime"/>
  <button class="fa fa-search"></button>
</div>
<div class="form">
  <p>Email: {{user.email}}</p>
  <p>Ime: {{user.ime}}</p>
  <p>Prezime: {{user.prezime}}</p>
  <p>Broj telefona: {{user.brtel}}</p>
  <p>Grad: {{user.grad}}</p>
  <button class="button" routerLink='/user/edit-user'>Izmeni podatke</button>
</div>
