<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group-vertical">
          <button class="btn btn-primary" routerLink="novibioskop">Dodaj bioskop</button>
          <button class="btn btn-primary" routerLink="novopozoriste">Dodaj pozoriste</button>
          <button class="btn btn-primary" routerLink="novifanadmin">Dodaj administratora fan zone</button>
          <button class="btn btn-primary" routerLink="novibpadmin">Dodaj administratora bioskopa/pozorista</button>
      </div>

    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
