<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group-vertical">
          <button class="btn btn-primary">Dodaj bioskop</button>
          <button class="btn btn-primary">Dodaj pozoriste</button>
          <button class="btn btn-primary">Dodaj administratora fan zone</button>
          <button class="btn btn-primary">Dodaj sistemskog administratora</button>
      </div>

    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
