<div class="row" *ngIf="!rekvizitToEdit">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #noviBioskopForm="ngForm" (ngSubmit)="onNoviBioskopSubmit(noviBioskopForm)">
      <div class="form-group">
        <label for="naziv">Naziv bioskopa</label>
        <input type="text" id="naziv" name="naziv" class="form-control" required ngModel #bioskopNaziv="ngModel">
        <span class="help-block" *ngIf="!bioskopNaziv.valid && bioskopNaziv.touched">Naziv bioskopa je obavezan!</span>
      </div>

      <div class="form-group">
        <label for="adresa">Adresa bioskopa</label>
        <input type="text" id="adresa" name="adresa" class="form-control" required ngModel #bioskopAdresa="ngModel">
        <span class="help-block" *ngIf="!bioskopAdresa.valid && bioskopAdresa.touched">Adresa bioskopa je obavezna!</span>
      </div>

      <div class="form-group">
        <label for="opis">Opis bioskopa</label>
        <input type="text" id="opis" name="opis" class="form-control" required ngModel #bioskopOpis="ngModel">
        <span class="help-block" *ngIf="!bioskopOpis.valid && bioskopOpis.touched">Opis bioskopa je obavezan!</span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!noviBioskopForm.valid">Dodaj</button>
    </form>
  </div>
</div>
  


  <div class="row" *ngIf="updtBioskop">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Uredjivanje bioskopa</h1>
      <form #updtBioskopForm="ngForm" (ngSubmit)="bioskopUpdtSubmit()">
        <div class="form-group">
          <label for="naziv">Naziv bioskopa</label>
          <input type="text" id="naziv" name="naziv" class="form-control" required ngModel #bioskopNaziv="ngModel" [(ngModel)]="updtBioskop.ime">
          <span class="help-block" *ngIf="!bioskopNaziv.valid && bioskopNaziv.touched">Naziv bioskopa je obavezan!</span>
        </div>

        <div class="form-group">
          <label for="adresa">Adresa bioskopa</label>
          <input type="text" id="adresa" name="adresa" class="form-control" required ngModel #bioskopOpis="ngModel" [(ngModel)]="updtBioskop.adresa">
          <span class="help-block" *ngIf="!bioskopOpis.valid && bioskopOpis.touched">Adresa bioskopa!</span>
        </div>

        <div class="form-group">
          <label for="opis">Opis bioskopa</label>
          <input type="number" id="opis" name="opis" class="form-control" required ngModel #bioskopAdresa="ngModel" [(ngModel)]="updtBioskop.adresa">
          <span class="help-block" *ngIf="!bioskopAdresa.valid && bioskopAdresa.touched">Opis bioskopa je obavezan</span>
        </div>

       
        <button type="submit" class="btn btn-primary" [disabled]="!updtBioskopForm.valid">Dodaj</button>
      </form>
    </div>
    </div>
  