<div class="row">
  <div class="col-xs-12">
    <img [src]="rekvizitToDisplay.imgLocation" alt="" class="img-responsive" style="max-height: 100px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Ime rekvizita: {{rekvizitToDisplay.ime}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="onRezervisiClick()" #rezervisiBtn [disabled]="rekvizitToDisplay.rezervisan">Rezerviši</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{rekvizitToDisplay.opis}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Cena: {{rekvizitToDisplay.cena}}
  </div>
</div>
